{{define "index.html"}}

    {{template "header" .}}


    <div class="layui-body" style="background-color: #f0f3f4;">
        <!-- 内容主体区域 -->

        {{/*        {{.cronJobList}}*/}}


        <h2>index!!!</h2>


    </div>


    <div class="layui-footer">
        <!-- 底部固定区域 -->
        {{/*        © layui.com - 底部固定区域*/}}
    </div>


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/layui/layui.all.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>


{{end}}